{% extends 'main\lod.html'%}

{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}

<style>
    .btn-success{
        margin-right: 2%;
    }
</style>


<div class="fithers">
    <h1>{{ post.title }}</h1>
    <p>{{ post.anons }}</p>
    <p>{{ post.text }}</p>
    <p>{{ post.data }}</p>
    <a href="{% url 'ubate' post.id %}"><button class="btn btn-success"><i class="fas fa-solid fa-pen fa-bounce"></i> Изменить</button></a>
    <a href="{% url 'delete' post.id %}"><button class="btn btn-danger" type="submit"><i class="fas fa-solid fa-trash fa-bounce"></i> Удалить статью</button></a>
</div>
{%endblock%}