{% extends 'main/lod.html'%}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}

<style>
    .alert-warning{
        position: relative;
        float: right;
        clear: both;
        width: 95%;
        margin: 20px 29%;
        margin-left: 5%;
        margin-right: 3%;
        margin-top: 25px;
        text-align: left;
        height: 15%;
        /* padding-top: ; */
    }
    .img-app{
        position: relative;
        float: left;
        margin: 5px;
        margin-top: -1%;
        margin-bottom: -1%;
        margin-left: -1%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 1%;
        border-radius: 10%;
        border-color: brown;
        height: 10%;
        width: 10%;
    }
    .gol{
        float: left;
        position: relative;
        margin: -30px 0px;
        margin-left: 2%;
        /* padding: 2px 15px; */
    }
    .dolw_app{
        float: right;

        /* padding-left: 2%; */
        /* padding-right: 2%; */
        /* padding-top: -2%; */
        /* padding-bottom: 2%; */
        margin-top: -0.5%;
        /* margin-right: 2px; */
        /* padding: auto; */
        
    }
    .btn-success{
        border-radius: 10%;
        /* width: 100%; */
    }
    .ted{
        float: left;
        position: relative;
        margin: 15px 0px;
        margin-left: 2%;   
    }
    @media (max-width: 768px) {
        .alert-warning{
            position: relative;
            float: right;
            clear: both;
            width: 95%;
            margin: 20px 29%;
            margin-left: 5%;
            margin-right: 17%;
            margin-top: 25px;
            text-align: left;
            height: 15%;
            /* padding-top: ; */
    }
    .img-app{
        position: relative;
        float: left;
        margin: 5px;
        margin-top: -1%;
        margin-bottom: -1%;
        margin-left: -1%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 1%;
        border-radius: 10%;
        border-color: brown;
        height: 10%;
        width: 10%;
    }
    .gol{
        float: left;
        position: relative;
        margin: -30px 0px;
        margin-left: 12%;
        /* padding: 2px 15px; */
    }
    .dolw_app{
        float: right;

        /* padding-left: 2%; */
        /* padding-right: 2%; */
        /* padding-top: -2%; */
        /* padding-bottom: 2%; */
        margin-top: -0.5%;
        /* margin-right: 2px; */
        /* padding: auto; */
        
    }
    .btn-success{
        border-radius: 10%;
        /* width: 100%; */
    }
    .ted{
        float: left;
        position: relative;
        margin: 15px 0px;
        margin-left: 2%;
        }
    }
    </style>

<div class="fithers">
    
    <h1>{{ title }}</h1>
    {% if data %}
        {% for el in data %}
        <div class="alert alert-warning">
            <!-- <img src="{{ el.foto }}" alt="photo" class="img-app"><br> -->
            <img src="{{ el.foto }}" alt="photo" class="img-app"><br>
            <h3 class="gol">{{ el.title }}</h3>
            <!-- <p class="dolw_app">{{ el.app }}</p><br> -->
            <a href="{{ el.app}}" class="dolw_app"><button class="btn btn-success btn-lg"><i class="fas fa-download fa-fade"></i></button></a>
            <span class="ted">Платформа: {{ el.ted }}</span>
            
        </div>
        {% endfor %}
    {% else %}
        <p>Новости отсутствуют ждите обновления на сайте</p>
    {% endif %}
    <!-- {{ slovo.name }} -->
    <!-- <a href="{% url 'news_home' %}"><button class="btn btn-danger">Новости</button></a> -->
</div>
{%endblock%}