{% extends 'main/lod.html'%}
{% load static %}

{% block title %}
Про нас
{% endblock %}

{% block body %}
<style>
    #a-red{
        color: aqua;
        margin-top: 2%;
    }
    @media (max-width: 500px) {
        .text{
            margin-left: -20%;
        }
        .fithers p{
            margin-left: -28%;
        }
        #golop{
            margin-left: -25%;
        }
        #a-red{
            color: aqua;
        }
        #profile-log{
                margin-right: 29%;
        }
    }
</style>
<div class="fithers">
    {% if request.user.is_authenticated %}
        <div id="profile-log">
            <img src="{% static 'main/img/login.png' %}" alt="login" id="login-img">
            <h2 id="username">{{ username }}</h2>
            <a href="{%url 'login' %}" id="a-red"><i class="fi fi-rs-exit-alt"></i> Выход</a>
        </div>
    {% endif %}      
</div>
{%endblock%}