{% extends 'main/lod.html'%}
{% load static %}

{% block title %}
Love Foto
{% endblock %}

{% block body %}
<style>
    @media (min-width: 768px) {
    #nas-fot {
        height: 35pc;
        width: 50%;
        border-radius: 25px;
        border: 5px solid rgb(0, 0, 72);
    
    }
}
    @media (max-width: 768px) {
    #nas-fot {
        height: 20hv;
        width: 100%;
        border-radius: 25px;
        border: 5px solid rgb(0, 0, 72);
        margin-left: 15%;
        margin-top: -15%;
    }
    }
</style>
<div class="fithers">
    <img src="{% static 'main/img/photo_2024-02-01_18-37-33.jpg' %}" alt="nas" id="nas-fot">
</div>
{%endblock%}